keyring==18.0.1
lockfile==0.12.2
cryptography==2.8
argcomplete==1.12.3
Babel==2.9.1
Beaker==1.11.0
bpython==0.21
brotli==1.0.9
cdecimal==2.3
contextvars==2.4
curio==1.5
cx_Oracle==8.2.1
Cython==0.29.24
dataclasses==0.8
docutils==0.17.1
eventlet==0.32.0
flask_babel==2.0.0
flask_babelex==0.9.4
gevent==21.8.0
importlib_metadata==4.8.1
inotify==0.2.10
ipython==7.27.0
libmc==1.4.2
lingua==4.14
lxml==4.6.3
mx==3.2
numpy==1.21.2
ordereddict==1.1
PasteScript==3.2.1
pgdb==0.0.11
protobuf==3.18.0
ptpython==3.0.20
Pygments==2.10.0
pylibmc==1.6.1
pyOpenSSL==20.0.1
pysqlcipher3==1.0.4
pysqlite==2.8.3
pytest==6.2.5
pytest_xdist==2.3.0
python-dotenv==0.19.0
python_memcached==1.59
redis==3.5.3
requests_toolbelt==0.9.1
setproctitle==1.2.2
simplejson==3.17.5
sniffio==1.2.0
sqlcipher3==0.4.5
Sybase==0.35
termcolor==1.1.0
toml==0.10.2
tornado==6.1
trio==0.19.0
typing_extensions==3.10.0.2
uwsgi==2.0.19.1
watchdog==2.1.5
