{% extends 'base.html'%}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pitches</title> 
</head>
<body>

 
    {% block scripts%}
    {{ super() }}
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    {% endblock %}

    {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}"/>
    {% endblock %}

    {% block content %}
    <br><br><br>
<div class="container">
    <!-- {% block categories %}
    {% include 'categories.html' %}
    {% endblock %}


    
{% block comments %}
{% include 'comments.html' %}
{% endblock %} -->
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
  {% endblock %}
    
</body>
</html>