{% extends 'base.html'%}
{% import 'macros.html' as macro %}


{% block scripts%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" />
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
{% endblock %}


{% block content %}
<br><br><br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Coding Pitches</h2>
            <div id="coding">
                {{ macro.showPitch(coding)}}
            </div>
            <h2>Business Pitches</h2>
            <div id="business">
                {{ macro.showPitch(business) }}
            </div>

        </div>
        <div class="col-md-6">
            <h2>Religious Pitches</h2>
            <div id="religion">
                {{ macro.showPitch(religion) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}