<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title></title>

    {% block scripts%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" />
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    {% endblock %}


  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark text-white bg-success">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" display-4 container collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Pitches Zone</a>
            </li>

          </ul>

          <li class="nav-item dropdown nav navbar-nav navbar-right">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              MENU
            </a>

            <ul class="dropdown-menu " aria-labelledby="navbarDropdown right d-inline">
              {% if current_user.is_authenticated %}
              <li><a class="dropdown-item" href="{{url_for('main.profile',uname = current_user.username)}}">Profile</a>
              </li>
              <li><a class="dropdown-item" href="#">{{current_user.username}}</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{{url_for('auth.logout')}}">Log Out</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{{url_for('auth.login')}}">Guest</a></li>
              <li><a class="dropdown-item" href="{{url_for('auth.login')}}">Login</a></li>
              {%endif%}
            </ul>
          </li>

        </div>
      </div>
    </nav>
  </body>

</html>